* {
	-webkit-tap-highlight-color: transparent;
}
html {
	background-color: #f5f5f5;
}
body {
	margin: 0em;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #000000;
}
ul {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
}
.mid-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 350px;
	padding: 20px;
}

/* MAIN NAVIGATION BAR START */
.main-nav {
	position: sticky;
	top: 0;
	z-index: 99;
	height: 25px;
	background-color: #ececec;
	display: flex;
	justify-content: center;
	ul {
		width: 1195px;
		position: sticky;
		top: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0em;
		height: 25px;
		padding-left: 0;
		li {
			font-size: 12px;
			a {
				color: #000000;
				&:hover {
					transition: all 0.2s ease;
					text-decoration: underline;
					color: #f57224;
				}
			}
		}
		:first-child {
			a {
				color: #f57224;
			}
		}
	}
}

/* MAIN NAVIGATION BAR END */

/* SECOND NAVIGATION BAR START */

.second-nav {
	background-color: #ffffff;
	position: sticky;
	top: 25px;
	margin-top: -1em;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	.search-bar {
		padding-right: 25px;
		display: flex;
		height: 45px;
		a {
			img {
				height: 45px;
				width: 45px;
				max-width: 100%;
				max-height: 100%;
			}
		}
		input {
			width: 650px;
			background-color: #f5f5f5;
			border-color: transparent;
			border-radius: 0px;
			&:focus {
				outline: none;
			}
			&::placeholder {
				color: rgb(208, 206, 206);
			}
		}
	}
	.logo {
		margin-left: -20px;
		padding-right: 65px;
		img {
			width: 135px;
			height: 41px;
		}
	}
	.cart {
		padding-right: 25px;
		img {
			width: 25px;
		}
	}
	.app-download {
		img {
			width: 188px;
		}
	}
}

/* SECOND NAVIGATION BAR END */

/* THIRD NAVIGATION BAR START */
.ad-container {
	display: flex;
	position: absolute;
	height: 344px;
	width: 100%;
	margin-top: 100px;
	.ad-run {
		z-index: -1;
		background-image: url(../images/ad.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;
		width: 100%;
		height: 344px;
	}
}

.third-nav {
	height: 25px;
	background: white;
	display: flex;
	position: sticky;
	top: 85px;
	z-index: 9;
	padding: 0px;
	box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
	.category-drop {
		margin-top: 0em;
		padding-left: 40px;
		li {
			.cat-head {
				padding-left: 0;
				display: inline-block;
				text-align: center;
				padding: 3px;
			}
			.sub-menu {
				background-color: #ffffff;
				padding-left: 0;
				margin-top: 0em;
				visibility: hidden;
				opacity: 0;
				width: 200px;
				position: absolute;
				transition: all 0.5s ease;
				left: 0;
				display: none;

				li {
					width: 200px;
					&:hover {
						color: #9db71a;
						background-color: #e5f7fa;
						::after {
							padding-left: 115px;
							content: ">";
						}
					}
					&:hover a {
						color: #1a9cb7;
					}
					a {
						display: inline-block;
						width: 225px;
						padding-left: 15px;
						color: #000000;
						line-height: 27px;
						font-size: 13px;
					}
				}
			}
		}
	}

	.category-drop li:hover > .sub-menu,
	.category-drop li:focus-within > .sub-menu,
	.category-drop li .sub-menu:hover,
	.category-drop li .sub-menu:focus {
		visibility: visible;
		box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
		opacity: 1;
		display: block;
		transition: all 0.5s ease;
	}

	.category-drop li .sub-menu li {
		clear: both;
		width: 100%;
	}
}

/* THIRD NAVIGATION BAR END */

// QUICK LINKS START
.quick-links {
	width: 1195px;
	display: flex;
	ul {
		width: 1195px;
		display: flex;
		justify-content: space-between !important;
		margin-left: 0em;
		li {
			text-align: center;
			width: 385px;
			height: 40px;
			border-radius: 50px;
			&:first-child {
				margin-left: -35px;
			}

			a {
				display: flex;
				width: 385px;
				border-radius: 50px;
				align-items: center;
				img {
					height: 35px;
					padding: 2px;
					margin-left: 0.1em;
					border-radius: 50px;
				}
				&:hover {
					color: #7ed321;
					background-color: #f5f5f5;
					border-style: groove transparent;
					box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
				}
			}
		}
	}
}
// QUICK LINKS END
.section-heading {
	display: flex;
	padding: 10px;
	font-size: 22px;
	color: #424242c3;
	margin-bottom: 0em;
}
// DarazMall
.DarazMall {
	width: 1195px;
	.daraz-mall-features {
		display: flex;

		justify-content: space-between;
		.daraz-mall-content {
			background: white;
			a {
				display: inline-block;
				width: 188px;
				height: 271px;
				text-align: center;

				.main-img {
					width: 186px;
					height: 188px;
				}

				.icon-img {
					margin-top: -30px;
					width: 44px;
					width: 44px;
				}
				h2 {
					font-size: 14px;
					color: #212121;
					line-height: 14px;
				}
				p {
					font-size: 12px;
					color: #9e9e9e;
					line-height: 12px;
				}
				&:hover {
					box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
				}
			}
		}
	}
}
//Daraz Mall End
// categories Start

.categories {
	width: 1195px;
	.categories-features {
		display: flex;
		flex-wrap: wrap;

		border-left: transparent !important;

		.categories-content {
			background: white;
			border: 1px solid rgba(128, 128, 128, 0.246);

			a {
				display: inline-block;
				width: 147.3px;
				height: 147.3px;
				text-align: center;

				img {
					margin-top: 6px;
					width: 80px;
					height: 80px;
				}
				p {
					font-size: 14px;
					line-height: 18px;
					color: #212121;
				}
				&:hover {
					z-index: 9;
					box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
				}
			}
		}
	}
}
// Categories End
// just-for-you Start
.just-for-you {
	width: 1195px;
	.just-for-you-features {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.just-for-you-content {
			background: white;
			margin-top: 5px;
			margin-bottom: 5px;
			a {
				display: inline-block;
				width: 188px;
				height: 325px;

				img {
					width: 188px;
					height: 189px;
				}
				h2 {
					padding-left: 10px;
					font-size: 14px;
					line-height: 18px;
					color: #212121;
				}
				h1 {
					padding-left: 10px;
					font-size: 18px;
					line-height: 22px;
					color: #f85606;
				}
				p {
					padding-left: 10px;
					font-size: 12px;
					line-height: 14px;
					color: #9e9e9e;
					span {
						color: #212121;
					}
				}
				&:hover {
					box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
				}
			}
		}
	}
}
// just-for-you End
.load-more {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;

	text-align: center;
	a {
		display: inline-block;
		border: 1px solid #f85606;
		width: 400px;
		height: 40px;
		color: #f85606;
		font-size: 14px;
		font-weight: bold;
		line-height: 40px;
	}
}
// Footer Start
.footer {
	display: flex;
	justify-content: center;
	background-color: #2e2e54;
	max-width: 100%;
	.footer-features {
		width: 1195px;
		display: flex;
		justify-content: space-between;

		.footer-content {
			h1 {
				color: #ffffff;
				font-size: 18px;
				line-height: 18px;
				text-align: center;
			}
			ul {
				li {
					margin-left: -2.5em;
					a {
						color: #ffffff;
						font-size: 12px;
						line-height: 18px;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.download-footer {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		.footer-content-qr {
			width: 100px;
			height: 100px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 10px;
			}
		}
		.footer-content-dw {
			display: flex;
			align-items: center;
			width: 120px;
			height: 40px;
			border-radius: 10px;
			background-color: black;
			border: 1px solid white;
			&:hover {
				transform: scale(1.1, 1.1);
			}
			a {
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
				img {
					padding-top: 10px;
					width: 25px;
					height: 25px;
				}
				p {
					font-size: 10px;
					color: #ffffff;
				}
				h2 {
					margin-left: 1em;
					margin-top: -1em;
					font-size: 12px;
					color: #ffffff;
				}
			}
		}
	}
}
// Footer End
// Second Footer Start
.footer-heading {
	color: #333333;
	font-size: 18px;
	line-height: 18px;
}
.second-footer {
	display: flex;
	justify-content: center;
	.second-footer-features {
		width: 1195px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.second-footer-content-pm {
			a {
				display: inline-block;
				text-align: center;

				img {
					width: 50px;
				}
				:hover {
					transform: scale(1.2, 1.2);
				}
			}
		}
		.second-footer-content-di {
			a {
				img {
					width: 36px;
					height: 36px;
				}
				:hover {
					transform: scale(1.2, 1.2);
				}
			}
		}
		.second-footer-content-fu {
			a {
				img {
					width: 36px;
					height: 36px;
				}
				:hover {
					transform: scale(1.2, 1.2);
				}
			}
		}
		.second-footer-content-vb {
			a {
				img {
					width: 156px;
				}
			}
		}
	}
}
// Second Footer End
.copyright {
	text-align: center;
	color: #333333;
	font-size: 18px;
	line-height: 18px;
}
// Third Footer Start
.third-footer {
	.third-footer-features {
		display: flex;
		background-color: #f1f1f1;
		.third-footer-content {
			padding: 25px;
			h1 {
				font-size: 18px;
				line-height: 20px;
				color: #606060;
			}
			p {
				font-size: 10px;
				line-height: 16px;
				color: #888888;
			}
		}
	}
}
// Third Footer End
