* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin-top: 0em;
  margin-left: 0em;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

/* MAIN NAVIGATION BAR START */
.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-nav ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  height: 25px;
  background-color: #ececec;
}

.main-nav ul li {
  font-size: 12px;
  padding-right: 1.7rem;
}

.main-nav ul li a {
  color: #000000;
}

.main-nav ul li a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: underline;
  color: #f57224;
}

.main-nav ul :first-child a {
  color: #f57224;
}

/* MAIN NAVIGATION BAR END */
/* SECOND NAVIGATION BAR START */
.second-nav {
  background-color: #ffffff;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  margin-top: -1em;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.second-nav .search-bar {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.second-nav .search-bar a img {
  height: 45px;
  width: 45px;
  max-width: 100%;
  max-height: 100%;
  /* object-fit: contain; */
}

.second-nav .search-bar input {
  width: 650px;
  background-color: #f5f5f5;
  border-color: transparent;
  border-radius: 0px;
}

.second-nav .search-bar input:focus {
  outline: none;
}

.second-nav .search-bar input::-webkit-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input:-ms-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input::-ms-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input::placeholder {
  color: #d0cece;
}

.second-nav .logo {
  margin-left: -20px;
  padding-right: 65px;
}

.second-nav .logo img {
  width: 135px;
  height: 41px;
}

.second-nav .cart {
  padding-right: 25px;
}

.second-nav .cart img {
  width: 25px;
}

.second-nav .app-download img {
  width: 188px;
}

/* SECOND NAVIGATION BAR END */
/* THIRD NAVIGATION BAR START */
.ad-run {
  position: absolute;
  z-index: -1;
  background-image: url(../images/ad.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 99.7%;
  height: 330px;
  margin-top: 100px;
}

.third-nav {
  z-index: 5;
  height: 344px;
  margin-top: 0em;
}

.third-nav .category-drop {
  margin-left: 13em;
  margin-top: 0em;
}

.third-nav .category-drop li {
  width: 200px;
  background: white;
}

.third-nav .category-drop li .cat-head {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 3px;
}

.third-nav .category-drop li .sub-menu {
  margin-top: 0em;
  margin-left: 13em;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.third-nav .category-drop li .sub-menu li {
  width: 200px;
  background-color: #ffffff;
}

.third-nav .category-drop li .sub-menu li:hover {
  color: #8abace;
  background-color: #e5f7fa;
}

.third-nav .category-drop li .sub-menu li a {
  display: inline-block;
  width: 225px;
  padding-left: 15px;
  color: #000000;
  line-height: 27px;
  font-size: 13px;
}

.third-nav .category-drop li:hover > .sub-menu,
.third-nav .category-drop li:focus-within > .sub-menu,
.third-nav .category-drop li .sub-menu:hover,
.third-nav .category-drop li .sub-menu:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.third-nav .category-drop li .sub-menu li {
  clear: both;
  width: 100%;
}

/* THIRD NAVIGATION BAR END */
.quick-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 0em;
}

.quick-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 385px;
  height: 40px;
  border-radius: 50px;
}

.quick-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 385px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-links ul li a img {
  height: 35px;
  padding: 2px;
  margin-left: 0.1em;
  border-radius: 50px;
}

.quick-links ul li a:hover {
  color: #7ed321;
  background-color: #f5f5f5;
  border-style: groove transparent;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
}
/*# sourceMappingURL=index.css.map */