* {
	-webkit-tap-highlight-color: transparent;
}

body {
	margin-top: 0em;
	margin-left: 0em;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none !important;
	color: #000000 !important;
}
ul {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
}

/* MAIN NAVIGATION BAR START */
.main-nav {
	position: sticky;
	top: 0;
	z-index: 10;
	ul {
		position: sticky;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0em;
		margin-left: 0em;
		margin-right: 0em;
		height: 25px;
		background-color: #ececec;
		li {
			font-size: 12px;
			padding-right: 1.7rem;
			a {
				color: #000000;
				&:hover {
					transition: all 0.2s ease;
					text-decoration: underline;
					color: #f57224;
				}
			}
		}
		:first-child {
			a {
				color: #f57224;
			}
		}
	}
}

/* MAIN NAVIGATION BAR END */

/* SECOND NAVIGATION BAR START */

.second-nav {
	background-color: #ffffff;
	object-fit: contain;
	padding: 10px;
	position: sticky;
	top: 25px;
	margin-top: -1em;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	.search-bar {
		padding-right: 25px;
		display: flex;
		height: 45px;
		a {
			img {
				height: 45px;
				width: 45px;
				max-width: 100%;
				max-height: 100%;
				/* object-fit: contain; */
			}
		}
		input {
			width: 650px;
			background-color: #f5f5f5;
			border-color: transparent;
			border-radius: 0px;
			&:focus {
				outline: none;
			}
			&::placeholder {
				color: rgb(208, 206, 206);
			}
		}
	}
	.logo {
		margin-left: -20px;
		padding-right: 65px;
		img {
			width: 135px;
			height: 41px;
		}
	}
	.cart {
		padding-right: 25px;
		img {
			width: 25px;
		}
	}
	.app-download {
		img {
			width: 188px;
		}
	}
}

/* SECOND NAVIGATION BAR END */

/* THIRD NAVIGATION BAR START */

.ad-run {
	position: absolute;
	z-index: -1;
	background-image: url(../images/ad.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 99.7%;
	height: 330px;
	margin-top: 100px;
}

.third-nav {
	position: sticky;
	top: 105px;
	z-index: 10;
	height: 344px;
	margin-top: 0em;
	ul {
		// display: none;
		width: 200px;
		height: 344px;
		margin-left: 13em;
		margin-top: 0em;
		text-align: left;

		li {
			margin-left: 0em;
			background-color: #ffffff;
			&:hover {
				background-color: #e5f7fa;
			}
			&:hover a {
				color: rgb(138, 186, 206);
			}
			a {
				padding-left: 15px;
				color: #000000;
				line-height: 27px;
				font-size: 13px;
			}
		}
	}
	.drop {
		margin-left: 15.5em;

		text-align: center;
		display: inline-block;
		width: 200px;
		background-color: #ffffff;
	}
	.undoer,
	:target {
		display: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	:target + .undoer {
		display: block;
	}
	:target ~ ul {
		visibility: hidden;
	}
}

/* THIRD NAVIGATION BAR END */
