* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: #f5f5f5;
}

body {
  margin: 0em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 350px;
  padding: 20px;
}

/* MAIN NAVIGATION BAR START */
.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 25px;
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav ul {
  width: 1195px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0em;
  height: 25px;
  padding-left: 0;
}

.main-nav ul li {
  font-size: 12px;
}

.main-nav ul li a {
  color: #000000;
}

.main-nav ul li a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: underline;
  color: #f57224;
}

.main-nav ul :first-child a {
  color: #f57224;
}

/* MAIN NAVIGATION BAR END */
/* SECOND NAVIGATION BAR START */
.second-nav {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  margin-top: -1em;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.second-nav .search-bar {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

.second-nav .search-bar a img {
  height: 45px;
  width: 45px;
  max-width: 100%;
  max-height: 100%;
}

.second-nav .search-bar input {
  width: 650px;
  background-color: #f5f5f5;
  border-color: transparent;
  border-radius: 0px;
}

.second-nav .search-bar input:focus {
  outline: none;
}

.second-nav .search-bar input::-webkit-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input:-ms-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input::-ms-input-placeholder {
  color: #d0cece;
}

.second-nav .search-bar input::placeholder {
  color: #d0cece;
}

.second-nav .logo {
  margin-left: -20px;
  padding-right: 65px;
}

.second-nav .logo img {
  width: 135px;
  height: 41px;
}

.second-nav .cart {
  padding-right: 25px;
}

.second-nav .cart img {
  width: 25px;
}

.second-nav .app-download img {
  width: 188px;
}

/* SECOND NAVIGATION BAR END */
/* THIRD NAVIGATION BAR START */
.ad-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 344px;
  width: 100%;
  margin-top: 100px;
}

.ad-container .ad-run {
  z-index: -1;
  background-image: url(../images/ad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: 344px;
}

.third-nav {
  height: 25px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  z-index: 9;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
}

.third-nav .category-drop {
  margin-top: 0em;
  padding-left: 40px;
}

.third-nav .category-drop li .cat-head {
  padding-left: 0;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.third-nav .category-drop li .sub-menu {
  background-color: #ffffff;
  padding-left: 0;
  margin-top: 0em;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.third-nav .category-drop li .sub-menu li {
  width: 200px;
}

.third-nav .category-drop li .sub-menu li:hover {
  color: #9db71a;
  background-color: #e5f7fa;
}

.third-nav .category-drop li .sub-menu li:hover ::after {
  padding-left: 115px;
  content: ">";
}

.third-nav .category-drop li .sub-menu li:hover a {
  color: #1a9cb7;
}

.third-nav .category-drop li .sub-menu li a {
  display: inline-block;
  width: 225px;
  padding-left: 15px;
  color: #000000;
  line-height: 27px;
  font-size: 13px;
}

.third-nav .category-drop li:hover > .sub-menu,
.third-nav .category-drop li:focus-within > .sub-menu,
.third-nav .category-drop li .sub-menu:hover,
.third-nav .category-drop li .sub-menu:focus {
  visibility: visible;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
  opacity: 1;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.third-nav .category-drop li .sub-menu li {
  clear: both;
  width: 100%;
}

/* THIRD NAVIGATION BAR END */
.quick-links {
  width: 1195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-links ul {
  width: 1195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-left: 0em;
}

.quick-links ul li {
  text-align: center;
  width: 385px;
  height: 40px;
  border-radius: 50px;
}

.quick-links ul li:first-child {
  margin-left: -35px;
}

.quick-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 385px;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-links ul li a img {
  height: 35px;
  padding: 2px;
  margin-left: 0.1em;
  border-radius: 50px;
}

.quick-links ul li a:hover {
  color: #7ed321;
  background-color: #f5f5f5;
  border-style: groove transparent;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.575);
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 22px;
  color: #424242c3;
  margin-bottom: 0em;
}

.DarazMall {
  width: 1195px;
}

.DarazMall .daraz-mall-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.DarazMall .daraz-mall-features .daraz-mall-content {
  background: white;
}

.DarazMall .daraz-mall-features .daraz-mall-content a {
  display: inline-block;
  width: 188px;
  height: 271px;
  text-align: center;
}

.DarazMall .daraz-mall-features .daraz-mall-content a .main-img {
  width: 186px;
  height: 188px;
}

.DarazMall .daraz-mall-features .daraz-mall-content a .icon-img {
  margin-top: -30px;
  width: 44px;
  width: 44px;
}

.DarazMall .daraz-mall-features .daraz-mall-content a h2 {
  font-size: 14px;
  color: #212121;
  line-height: 14px;
}

.DarazMall .daraz-mall-features .daraz-mall-content a p {
  font-size: 12px;
  color: #9e9e9e;
  line-height: 12px;
}

.DarazMall .daraz-mall-features .daraz-mall-content a:hover {
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
          box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
}

.categories {
  width: 1195px;
}

.categories .categories-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: transparent !important;
}

.categories .categories-features .categories-content {
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.246);
}

.categories .categories-features .categories-content a {
  display: inline-block;
  width: 147.3px;
  height: 147.3px;
  text-align: center;
}

.categories .categories-features .categories-content a img {
  margin-top: 6px;
  width: 80px;
  height: 80px;
}

.categories .categories-features .categories-content a p {
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.categories .categories-features .categories-content a:hover {
  z-index: 9;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
          box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
}

.just-for-you {
  width: 1195px;
}

.just-for-you .just-for-you-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.just-for-you .just-for-you-features .just-for-you-content {
  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.just-for-you .just-for-you-features .just-for-you-content a {
  display: inline-block;
  width: 188px;
  height: 325px;
}

.just-for-you .just-for-you-features .just-for-you-content a img {
  width: 188px;
  height: 189px;
}

.just-for-you .just-for-you-features .just-for-you-content a h2 {
  padding-left: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.just-for-you .just-for-you-features .just-for-you-content a h1 {
  padding-left: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #f85606;
}

.just-for-you .just-for-you-features .just-for-you-content a p {
  padding-left: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
}

.just-for-you .just-for-you-features .just-for-you-content a p span {
  color: #212121;
}

.just-for-you .just-for-you-features .just-for-you-content a:hover {
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
          box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.358);
}

.load-more {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.load-more a {
  display: inline-block;
  border: 1px solid #f85606;
  width: 400px;
  height: 40px;
  color: #f85606;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2e2e54;
  max-width: 100%;
}

.footer .footer-features {
  width: 1195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-features .footer-content h1 {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.footer .footer-features .footer-content ul li {
  margin-left: -2.5em;
}

.footer .footer-features .footer-content ul li a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}

.footer .footer-features .footer-content ul li a:hover {
  text-decoration: underline;
}

.footer .download-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .download-footer .footer-content-qr {
  width: 100px;
  height: 100px;
}

.footer .download-footer .footer-content-qr img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.footer .download-footer .footer-content-dw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid white;
}

.footer .download-footer .footer-content-dw a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .download-footer .footer-content-dw a img {
  padding-top: 10px;
  width: 25px;
  height: 25px;
}

.footer .download-footer .footer-content-dw a p {
  font-size: 10px;
  color: #ffffff;
}

.footer .download-footer .footer-content-dw a h2 {
  margin-left: 1em;
  margin-top: -1em;
  font-size: 12px;
  color: #ffffff;
}

.footer-heading {
  color: #333333;
  font-size: 18px;
  line-height: 18px;
}

.second-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-footer .second-footer-features {
  width: 1195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-footer .second-footer-features .second-footer-content-pm a {
  display: inline-block;
  text-align: center;
}

.second-footer .second-footer-features .second-footer-content-pm a img {
  width: 50px;
}

.second-footer .second-footer-features .second-footer-content-di a img {
  width: 36px;
  height: 36px;
}

.second-footer .second-footer-features .second-footer-content-fu a img {
  width: 36px;
  height: 36px;
}

.second-footer .second-footer-features .second-footer-content-vb a img {
  width: 156px;
}

.copyright {
  text-align: center;
  color: #333333;
  font-size: 18px;
  line-height: 18px;
}

.third-footer .third-footer-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
}

.third-footer .third-footer-features .third-footer-content {
  padding: 25px;
}

.third-footer .third-footer-features .third-footer-content h1 {
  font-size: 18px;
  line-height: 20px;
  color: #606060;
}

.third-footer .third-footer-features .third-footer-content p {
  font-size: 10px;
  line-height: 16px;
  color: #888888;
}
/*# sourceMappingURL=index.css.map */